<div class="d-flex align-items-center justify-content-center" >
    <h1> Bienvenio al about</h1>
    <div class="d-grid gap-2">
        <button
            type="button"
            name=""
            id=""
            class="btn btn-primary"
        >
            Button
        </button>
    </div>
    
</div>

